<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="48425ShipwreckSoftware.558159B35D87A"
    Publisher="CN=ShipwreckSoftware"
    Version="1.4.35.0" />

  <mp:PhoneIdentity PhoneProductId="359c9edb-1a02-4580-82a7-049043f02b6b" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>Voracious E-Book Reader</DisplayName>
    <PublisherDisplayName>Shipwreck Software</PublisherDisplayName>
    <Logo>Assets\Icons\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="SimpleEpubReader.App">
      <uap:VisualElements
        DisplayName="Voracious EBook Reader"
        Square150x150Logo="Assets\Icons\Square150x150Logo.png"
        Square44x44Logo="Assets\Icons\Square44x44Logo.png"
        Description="An ebook reader for people who read lots of books. Contains a complete catalog of the Project Gutenberg site; quickly downloads books. Search by title, author, Library of Congress catalog and more. Add notes and reviews."
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Icons\Wide310x150Logo.png" ShortName="Voracious Reader" Square71x71Logo="Assets\Icons\SmallTile.png" Square310x310Logo="Assets\Icons\LargeTile.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo"/>
            <uap:ShowOn Tile="wide310x150Logo"/>
            <uap:ShowOn Tile="square310x310Logo"/>
          </uap:ShowNameOnTiles>
        </uap:DefaultTile >
        <uap:SplashScreen Image="Assets\Icons\SplashScreen.png" />
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="ebooks">
            <uap:SupportedFileTypes>
              <uap:FileType>.epub</uap:FileType>
            </uap:SupportedFileTypes>
            <uap:DisplayName>EPUB Ebook format</uap:DisplayName>
            <uap:EditFlags OpenIsSafe="true"/>
            <uap:InfoTip>EPUB ebook</uap:InfoTip>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.protocol">
          <uap:Protocol Name="voracious-reader"/>
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>